.section-title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3d4a6e;
}

.card{
    display:flex;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    padding: 10px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.img-thumb{
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

.img-thumb img{
    object-fit: cover;
    width: 200px;
    height: 150px;
}

.content{
    flex: 1;
}

.content p.title{
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #3d4a6e;
}

.content p.desc{
    margin: 0px;
    font-size: 16px;
    color: #4a4a4a;
}

.remove {
    padding: 8px 15px;
    background-color: crimson;
    color: white;
    border-radius: 4px;
    outline: none;
    margin-top: 18px;
    border: 1px solid crimson;
}

.remove:hover{
    cursor: pointer;
    background-color: red;
}

.update {
    padding: 8px 15px;
    background-color: #2196F3;
    color: white;
    border-radius: 4px;
    outline: none;
    margin-top: 18px;
    margin-right: 2px;
    border: 1px solid #2196F3;
}

.update:hover{
    cursor: pointer;
    background-color: blue;
}

.form-add{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    width: 500px;
    margin-left: 20px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.form-add label{
    display: block;
    font-size: 14px;
    color: #607D8B;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add input, .form-add textarea{
    outline: none;
    border: 1px solid #607D8B;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607D8B;
}

button.btn-submit{
    outline: none;
    border: 1px solid #2196F3;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2196F3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 30px;
}

button.btn-submit:hover{
    cursor: pointer;
    background-color: blue;
    color: whitesmoke;
}